<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="box">
    <header>
        {% block header %}<h1 class="title">VidArc - это удобно!</h1>
        <p class="promo">Этот инструмент помогает систематизировать домашнюю коллекцию музыки и фильмов. Также
            некоторым образом автоматизирует процесс скачивания фильмов и музыки с ряда сайтов.</p>
        {% endblock %}
    </header>
    <nav>
        {% set navigation_bar = [
            ('/', 'index', 'Главная'),
            ('/films', 'films', 'Фильмы'),
            ('/music', 'music', 'Музыка'),
            ('/download', 'download', 'Скачать')
        ] %}

        <ul class="main-menu">
            {% for href, id, caption in navigation_bar -%}
                <li {% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ href|e }}">[<span class="a-text">{{ caption|e }}</span>]</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
    <main>{% block body %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
    </div>
</body>
</html>
