.film {
    font: 17px arial;
    line-height: 27px;
    color: rgba(0,0,0,.9);
}

.film-main {
    padding: 40px;
    background: #dddddd;
}

.film-short h4 {
    margin-bottom: 5px;
}

.film-title {
    font: bold 27px arial;
    margin: 20px 30px;
}

.film-info {
    padding-top: 10px;
    list-style: none;
}

.film-info-key {
    font: bold 13px arial;
}

.film-info-value {
    font-weight: normal;
}

.film-poster {
    float: left;
    width: 150px;
    height: 210px;
    margin: 0px;
    margin-right: 30px;
}
