.film {
    font: 17px arial;
    line-height: 27px;
    color: rgba(0,0,0,.9);
}

.film:first-child {
    margin-top: 40px;
}

.film-main {
    padding: 40px;
    background: #dddddd;
}

.film-title {
    font: bold 27px arial;
    margin: 20px 0px 5px 40px;
}

.film-info {
    padding-top: 10px;
    list-style: none;
    font-size: 13px;
}

.film-story-head {
    margin: 10px 10px;
    font: 21px arial;
}

.film-info-key {
    font-weight: bold;
}

.film-poster {
    float: left;
    width: 150px;
    height: 210px;
    margin: 0px 30px 0px 0px;
}
