*{
    /*border: 1px solid darkred;
*/}

.clear-fix:after{
    content:'';
    display:table;
    clear:both;
}

.box {
    width: 680px;
    margin: 20px auto;
}

header {
    margin-top: 20px;
}

nav .main-menu {
    list-style: none;
    text-align: center;
}

nav .main-menu li {
    display: inline-block;
    margin-right: 70px;
}