.short {
    margin-top: 10px;
    position: relative;
    background: #dddddd;
}

.short:first-of-type {
    margin-top: 25px;
}

.short .short-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
}

.short .short-get {
    right: 5px;
}

.short .short-delete {
    right: 45px;
}

.short .short-title {
    line-height: 40px;
    margin-left: 60px;
}