{% extends "layout.html" %}
{% set active_page = "download" %}

{% block body %}

    <form id="download-form" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            <span>Введите адрес файла или страницы</span><br>
            {{ form.address(size=60) }}
            <input type="submit" value="Скачать">
        </p>
        {% for error in form.errors.address %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </form>

    <ul id="download-list"></ul>

    <script type="text/template" id="download-list-item">
        <li class="download-list-item"><%-type%> - <%-title%>
        <button class="stop-download"></button></li>
    </script>

    <script data-main="{{ url_for('static', filename='js/downloadPage.js') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
{% endblock %}