{% extends "layout.html" %}
{% set active_page = "download" %}

{% block head %}
    {{ super() }}
    <script data-main="{{ url_for('static', filename='js/downloadPage.js') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
{% endblock %}

{% block body %}
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            <span>Введите адрес файла или страницы</span><br>
            {{ form.address(size=60) }}
            <input type="submit" value="Скачать">
        </p>
        {% for error in form.errors.address %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </form>

    <script>
        new FreshBox({'url': 'api/downloads'});
    </script>
{% endblock %}