{% extends "layout.html" %}
{% set active_page = "download" %}

{% block body %}
    <div id="download-widget">
        <form id="download-form" action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <p>
                <span>Введите адрес файла или страницы</span><br>
                {{ form.address(size=60) }}
                <input type="submit" value="Скачать">
            </p>
            <div class="download-errors"></div>
        </form>

        <ul id="download-list"></ul>
    </div>

    <script type="text/template" id="download-errors-item">
        <span> <%-error%> </span>
    </script>

    <script type="text/template" id="download-list-item">
        <li class="download-list-item"><%-type%> - <%-title%>
        <button class="stop-download"></button></li>
    </script>

    <script data-main="{{ url_for('static', filename='js/downloadPage.js') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
{% endblock %}